<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Импортированное правило 2" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*?)/?\.css$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="JS" enabled="true" stopProcessing="true">
                    <match url="(.*?)/?\.js$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="jpg" enabled="true" stopProcessing="true">
                    <match url="(.*?)/?\.jpg$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name=".webm" stopProcessing="true">
                    <match url="(.*?)/?\.webm$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="png" enabled="true" stopProcessing="true">
                    <match url="(.*?)/?\.png$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name=".woff" enabled="true" stopProcessing="true">
                    <match url="(.*?)/?\.woff$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name=".woff2" enabled="true" stopProcessing="true">
                    <match url="(.*?)/?\.woff2$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Импортированное правило 3" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>